/* font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Changa+One|Dosis&display=swap);
@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap);

.testline{border: 1px solid #f00;}
*{padding: 0; margin: 0; box-sizing: border-box;}

a,
a:link,
a:visited,
a:hover {color: #000; text-decoration: none; display: block;}

a.off{cursor: default;}

ul,
li{list-style: none;}

