/* body */
/* Hide scrollbars */
/* body {overflow: hidden;} */

/* all */
.out_container{width: 100%; max-width: 1200px; margin: 0 auto;}
.out_container .mid_container{max-width: 1183px; margin: 0 auto;}

/* main_menu_container */
.main_menu_container{height: 139.5px;}

/* main_movie_container */
.main_movie_container .main_movie_contents{padding-bottom: 71%; height: 0;}
.main_movie_container .main_movie_contents .movie_info{width: 83.26%; margin-left: 16.74%; float: left;}
.main_movie_container .main_movie_contents .movie_info .info_wrapper{padding-bottom: 56.55%;}
.main_movie_container .main_movie_contents .movieSet .movie_container{width: 16.665%; float: left;}
.main_movie_container .main_movie_contents .movieSet .movie_container .movie_wrapper{padding-bottom: 141.493%; position: relative;}
.main_movie_container .main_movie_contents .movieSet .movie_container .movie_wrapper .movie{position: absolute; width: 100%; height : 100%;}
.main_movie_container .main_movie_contents .movieSet .movie_container .movie_wrapper .movie > a{display: block; position: relative; width: 100%; height: 100%;}
.main_movie_container .main_movie_contents .movieSet .movie_container .movie_wrapper .movie > a> img{position: absolute; width: 93.9%;}
.main_movie_container .main_movie_contents .movieSet .movie_0,
.main_movie_container .main_movie_contents .movieSet .movie_1{float: none;}
.main_movie_container .main_movie_contents .movieSet .movie_8{display: none;}

@media (max-width : 1200px){    /* tablet */
    .main_movie_container .main_movie_contents{padding-bottom: 80%;}
    .main_movie_container .main_movie_contents .movie_info{width: 100%; margin-left: 0;}
    .main_movie_container .main_movie_contents .movieSet .movie_0,
    .main_movie_container .main_movie_contents .movieSet .movie_1{float: left;}
    .main_movie_container .main_movie_contents .movieSet .movie_6,
    .main_movie_container .main_movie_contents .movieSet .movie_7{display: none;}
}

/* not zoom, another effect */
@media (max-width : 600px){
    .main_movie_container .main_movie_contents{padding-bottom: 142%;}
    .main_movie_container .main_movie_contents .movie_info{display: none;}
    .main_movie_container .main_movie_contents .movieSet .movie_container{width: 33.33%; float: left;}
    .main_movie_container .main_movie_contents .movieSet .movie_6,
    .main_movie_container .main_movie_contents .movieSet .movie_7,
    .main_movie_container .main_movie_contents .movieSet .movie_8 {display: block;}
    .main_movie_container .main_movie_contents .movieSet .movie_container .movie_wrapper .movie > a > img{width: 100%;}
}