/* body */
/* Hide scrollbars */
/* body {overflow: hidden;} */

/* all */
.container{width: 100%; max-width: 1200px; min-height: 500px;  margin: 0 auto;}
.contents_container{padding: 0 16px 0 16px;}

/* main_movie_container */
.main_movie_container .main_movie_contents{overflow: hidden; float: left; width: 100%;}
.main_movie_container .main_movie_contents .movie_info{width: 83.21%; margin-left: 196.1072px; float: left;}
.main_movie_container .main_movie_contents .movie_info .info_wrapper{padding-bottom: 56.275%;}
.main_movie_container .main_movie_contents .movie_container{width: 16.667%; float: left;}
.main_movie_container .main_movie_contents .movie_container .movie_wrapper{padding-bottom: 144.324%;}
.main_movie_container .main_movie_contents .movie_0,
.main_movie_container .main_movie_contents .movie_1{float: none;}
.main_movie_container .main_movie_contents .movie_0 .movie_wrapper,
.main_movie_container .main_movie_contents .movie_1 .movie_wrapper{margin-bottom: 7.027%;}
.main_movie_container .main_movie_contents .movie_3 .movie_wrapper,
.main_movie_container .main_movie_contents .movie_4 .movie_wrapper,
.main_movie_container .main_movie_contents .movie_5 .movie_wrapper,
.main_movie_container .main_movie_contents .movie_6 .movie_wrapper,
.main_movie_container .main_movie_contents .movie_7 .movie_wrapper{}
.main_movie_container .main_movie_contents .movie_8{display: none;}

/* responsive main_movie_container*/
@media (max-width : 1200px){    /* tablet */
    .main_movie_container .main_movie_contents .movie_info{margin: 0 0 13px 0; width: 100%;}
    .main_movie_container .main_movie_contents .movie_0,
    .main_movie_container .main_movie_contents .movie_1{float: left;}
    .main_movie_container .main_movie_contents .movie_1,
    .main_movie_container .main_movie_contents .movie_2,
    .main_movie_container .main_movie_contents .movie_3,
    .main_movie_container .main_movie_contents .movie_4,
    .main_movie_container .main_movie_contents .movie_5{margin: 0 0 0 0.992%;}
    .main_movie_container .main_movie_contents .movie_6,
    .main_movie_container .main_movie_contents .movie_7{display: none;}
}

@media (max-width : 600px){
    .main_movie_container .main_movie_contents .movie_info{display: none;}
    .main_movie_container .main_movie_contents .movie_container{width: 32%;}

    .main_movie_container .main_movie_contents .movie_0,
    .main_movie_container .main_movie_contents .movie_1,   
    .main_movie_container .main_movie_contents .movie_2,
    .main_movie_container .main_movie_contents .movie_3,
    .main_movie_container .main_movie_contents .movie_4,
    .main_movie_container .main_movie_contents .movie_5,
    .main_movie_container .main_movie_contents .movie_6,
    .main_movie_container .main_movie_contents .movie_7,
    .main_movie_container .main_movie_contents .movie_8{margin:0 0 0 0;}

    .main_movie_container .main_movie_contents .movie_6,
    .main_movie_container .main_movie_contents .movie_7,
    .main_movie_container .main_movie_contents .movie_8 {display: block;}
}